@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

header,
.top-title {
  text-align: center;
}

figure,
article {
  margin: 1.1rem;
}

ul {
  display: flex;
  padding: 0;
  margin-top: .25rem;
  margin-bottom: 1rem;
  list-style-type: none;
  justify-content: space-around;
}

li {
  display: inline-block;
}

a {
  font-size: 1.125rem;
  color: #3783a3;
}

hr {
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #e2e2e2;
  max-width: 30em;
}

footer {
  text-align: center;
}

.banner {
  flex-wrap: wrap;
  display: flex;
}

.head {
  font-size: 2rem;
  margin: 0;
}

.engheader {
  font-size: 1.125rem;
  margin: 0;
}

.intro {
  text-align: center;
}

.language {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2rem;
}

.eng-intro {
  font-size: 1rem;
  margin: .5rem 1rem 2rem;
  width: 89%;
  text-align: center;
}

.img-view {
  margin-top: 1.7rem;
}

.header-sub {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.engheader-sub {
  margin: 0;
  font-weight: bold;
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  padding: .5em 1em .6em;
  padding-right: 2.5rem;
  border: .2rem solid #3783a3;
  border-radius: .3rem;
}

.p-body {
  width: 101%;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.horizontalrule {
  color: #e2e2e2;
  padding-top: 20px
}

@media only screen and (min-width: 38em) {

  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
  }

  header,
  .top-title {
    text-align: left;
  }

  article,
  main {
    grid-column: 1 / 4;
    display: grid;
  }

  main {
    margin: 0 1rem;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  nav {
    margin-top: 1rem;
  }

  nav ul {
    font-size: 1.125rem;
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
  }

  nav li {
    padding: 0 .5rem;
  }

  ul {
    display: flex;
    justify-content: flex-end;
  }

  figure {
    display: grid;
  }

  hr {
    margin-bottom: 0;
  }

  footer {
    display: grid;
    grid-column: -4 / -1;
  }

  .top-title {
    flex-wrap: wrap;
    flex-direction: column;
    display: inline-block;
  }

  .banner-img {
    margin-bottom: 2rem;
  }

  .intro {
    margin-left: 3rem;
    width: 83%;
  }

  .area-viewing {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    margin: 0;
  }

  .area-gravel {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    margin: 0;
  }

  .area-symbol {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    margin: 0;
  }

  .img-gravel,
  .img-view {
    margin-top: 0;
  }

}

@media only screen and (min-width: 60em) {

  .horizontalrule {
    margin-left: 12rem;
  }

  .language {
    margin-left: 13rem;
    width: 57%;
  }

  .eng-intro {
    margin-left: 12rem;
    width: 60%;
  }

}
